<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="br.com.fagnerabsynth.redtube" android:installLocation="auto" android:versionCode="1" android:versionName="1in">
	<uses-sdk android:minSdkVersion="15" />
	<uses-permission android:name="android.permission.INTERNET" />
	<application android:label="Red" android:icon="@drawable/icon"></application>
</manifest>